<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	 <test name="ChromeTest">
  	<parameter name="browser" value="CHROME"></parameter>
    <classes>
      <class name="Runner.TestRunner">

      </class>
    <!-- <class name="runner.RetryRunner">

      </class>
      -->
    </classes>
  </test>


  
  <test name="FirefoxTest" >
  	<parameter name="browser" value="FIREFOX"></parameter>
    <classes>
      <class name="Runner.TestRunner">

      </class>
    </classes>
  </test> 
  
  
  <test name="EdgeTest" >
  	<parameter name="browser" value="EDGE"></parameter>
    <classes>
      <class name="Runner.TestRunner">

      </class>
    </classes>
  </test> 
  

</suite> <!-- Suite -->

